version: "3.9"

services:
  influxdb2:
    image: influxdb:2
    container_name: influxdb2
    # InfluxDB runs by default with UID 1000, it is my user and I don't want that
    user: 1338:1338
    expose:
    - 8086
    networks:
      influxdb:
        aliases:
          - influxdb
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb2-admin-username
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb2-admin-password 
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb2-admin-token
      DOCKER_INFLUXDB_INIT_ORG: ruuvi
      DOCKER_INFLUXDB_INIT_BUCKET: ruuvi
    secrets:
      - influxdb2-admin-username
      - influxdb2-admin-password
      - influxdb2-admin-token
    volumes:
      - influxdb2-data:/var/lib/influxdb2:rw
      - influxdb2-config:/etc/influxdb2:rw
      - /etc/localtime:/etc/localtime:ro # To ensure that host and container have the same time
      - /etc/timezone:/etc/timezone:ro

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    # Grafana runs as UID 472 by default
    user: 472:472
    restart: unless-stopped
    expose:
      - 3000
    networks:
      grafana:
        aliases:
         - grafana
      influxdb:
    volumes:
      - grafana-storage:/var/lib/grafana:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      GF_SERVER_DOMAIN: ${GRAFANA_HOSTNAME}
      GF_SERVER_ROOT_URL: ${GRAFANA_HOSTNAME}

  mosquitto:
    image: eclipse-mosquitto:2.0-openssl
    container_name: mosquitto
    # Mosquitto runs as UID 1883 by default
    user: 1883:1883
    expose:
      - 1883 # MQTT no-tls port for RuuviBridge
    networks:
      mqtt:
        aliases:
          - mosquitto
    ports:
      - "8886:8886"  # MQTT Websocket open to world for Ruuvi Gateway
    volumes:
      - ./mosquitto/passwd:/mosquitto/passwd:rw
      - ./mosquitto/config:/mosquitto/config:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped

  ruuvibridge:
    image: ghcr.io/scrin/ruuvibridge
    container_name: ruuvibridge
    # Ruuvibridge runs as UID 1337 by default
    user: 1337:1337
    restart: unless-stopped
    volumes:
      - ./ruuvibridge/config.yml:/config.yml:ro
    networks:
      mqtt:
      influxdb:

  caddy:
    image: caddy:latest
    container_name: caddy
    # Caddy runs as UID 0 by default, most likely because it needs to listen ports below 1024
    # user: 0
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # HTTP/3 is UDP
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data/caddy
      - ./caddy/config:/config/caddy
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - mqtt
      - grafana
    environment:
      GF_SERVER_DOMAIN: ${GRAFANA_HOSTNAME}

networks:
  mqtt:
  influxdb:
  grafana:

secrets:
  influxdb2-admin-username:
    file: ~/.config/influxdb2/username
  influxdb2-admin-password:
    file: ~/.config/influxdb2/password
  influxdb2-admin-token:
    file: ~/.config/influxdb2/token

volumes:
  influxdb2-data:
  influxdb2-config:
  grafana-storage: